
    <h2
      id="gwRizomaApp-<%= seccion.dashCase %>-createOrEditLabel"
      data-cy="<%= seccion.dashCase %>CreateUpdateHeading"
    >
      <%= seccion.etiqueta %>
    </h2>
    <div>
    </div>
    <div>
      <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
      </button>
      <button
        type="submit"
        id="save-entity"
        data-cy="entityCreateSaveButton"
        :disabled="$v.<%= seccion.camelCase %>.$invalid || isSaving"
        class="btn btn-primary"
      >
        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
      </button>
    </div>